<!DOCTYPE html>
<html lang="fr">
<head>
    <% include ../partials/head %>
</head>
<body>

<header>
  <% include ../partials/header %>
</header>

<div class="row">
  <div class="col">
    <h2 class="titreCreer">BRAVO</h2>
  </div>
</div>

<div class="speech">
  <p >Vérifie bien ton quizz avant de poster !</p>
</div>

  <div class = "col quizzyPng">
  <img class = "quizzy" src="/views/img/quizzy.png" alt="pingouin">
  </div>

<div class="row boutonsCreationAide">
  <div class="col">
    <h2 class="oui">PAST</h2>
  </div>
  <div class="col">
    <h2 class="aide">VALIDATE</h2>
  </div>
</div>

<footer>
    <% include ../partials/footer %>
</footer>
<% include ../partials/scripts %>
</body>
</html>
