<!DOCTYPE html>
<html lang="fr">
<head>
    <% include ../partials/head %>
</head>
<body class="container">
<p><%=data %></p>
<header>
  <% include ../partials/header %>
</header>

<main>
        <h1>Quizland</h1>
        <p>Bienvenue sur Quizland</p>
</main>

<footer>
    <% include ../partials/footer %>
</footer>
<% include ../partials/scripts %>
</body>
</html>
