<!DOCTYPE html>
<html lang="fr">
<head>
   <% include ../partials/head %>

<header>

    <h2 class="logTitre">QUIZLAND DASHBOARD</h1>
    <p>Bonjour <%=username%> </p>

</header>

<nav>
  <ul class="navDashboard">
    <li><a class="dashboard" href="#"><span class='icon ion-home'></span>Dashboard</a></li>
    <li><a class="quizOk" href="#"><span class='icon ion-document'></span>Valider un Quiz</a></li>
    <li><a class="quizModifier" href="#"><span class='icon ion-android-share-alt'></span>Modifier un quiz</a></li>
    <li><a class="quizSupr" href="#"><span class='icon ion-person'></span>Supprimer un Quiz</a></li>
  </ul>
</nav>


</div>
<footer>
    <% include ../partials/footer %>
</footer>
<% include ../partials/scripts %>
</body>
</html>
