- for (let y = 0; y < staffs.length; y++)
  -let modalTagSt = 'staff' + y +'-modal';

    div(id = modalTagSt).modal.fade(tabindex='-1', role='dialog', aria-labelledby=modalTagSt, aria-hidden='true')
      .modal-dialog(role='document')
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true') ×
          .modal-body
            .staff-aligned
              img(src=staffs[y].photo, alt='')
            ul.player-identity
              li
                strong #{staffs[y].nom}
              li
                strong Poste :
                |  #{staffs[y].poste}
              li
                strong Nationalité :
                img(src= staffs[y].nationnalité, style='height: 15px;')
