
<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
<div class="slider carousel-inner" role="listbox">
  <div class="carousel-item active">
    <img class="active d-block img-fluid carou" src="/elements_carousel/11712003.gif" alt="First slide" />
    <div class="carousel-caption d-xs-block">
      <img class="mario_carousel you-win" style="width: 250px" src="/elements_carousel/you-win.png" alt="image_responsive" />
    </br>
      <p class="textCarousel">Jean Michel</p>
      <img class="gift_carousel" src="/elements_carousel/gift.png" alt="image_responsive">
      <p class="textCarousel2">Une Raclette</p>
   </div>
  </div>
  
  <div class="slider carousel-item">
    <img class="d-block img-fluid carou" src="/elements_carousel/11712003.gif" alt="Second slide">
    <div class="carousel-caption d-xs-block">
      <img class="mario_carousel" style="width: 200px" src="/elements_carousel/you-lose.png" alt="image_responsive" />
    </br>
      <p class="textCarousel">Jean Michel</p>
      <img class="gift_carousel" src="/elements_carousel/gift.png" alt="image_responsive">
      <p class="textCarousel2">Un petit Dejeuner</p>
    </div>
  </div>

  <div class="slider carousel-item">
    <img class="d-block img-fluid carou" src="/elements_carousel/11712003.gif" alt="Second slide">
    <div class="carousel-caption d-xs-block">
      <img class="mario_carousel" src="/logo-jeux/lol.png" alt="image_responsive" />
    </br>
      <p class="textCarousel">League Of Legends World Championship</p>
      <img class="lol-logo" src="/elements_carousel/lol-logo.png" alt="image_responsive">
      <p class="textCarousel2">8th June 2018</p>
    </div>
  </div>

  <div class="slider carousel-item">
    <img class="d-block img-fluid carou" src="/elements_carousel/11712003.gif" alt="Second slide">
    <div class="carousel-caption d-xs-block">
      <img class="mario_carousel" src="/logo-jeux/ow.png" alt="image_responsive" />
    </br>
      <p class="textCarousel">Overwatch - League of Ladies</p>
      <img class="ow-logo" src="/elements_carousel/ow-logo.svg" alt="image_responsive">
      <p class="textCarousel2">6th May 2018</p>
    </div>
  </div>

</div>
<a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
  <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
  <span class="carousel-control-next-icon" aria-hidden="true"></span>
  <span class="sr-only">Next</span>
  </a>
</div>
