<footer class="footer">

     <ul class="nav nav-pills nav-fill nav-justified">
       <li class="nav-item">
         <a class="nav-link" href="mailto:contact.wikings@gmail.com">Contact</a>
       </li>
       <li class="nav-item">
         <img class="atom" src="/img/wikingLogoNoir.png"  >
       </li>
       <li class="nav-item">
         <a class="nav-link" href="#mentionslegales">Mentions Legales</a>
       </li>
     </ul>
     <footer>
