<header>
<nav class="navbar fixed-top navbar-expand-md navbar-light" style="background-color:#fff800">
        <a class="navbar-brand" href="/">
          <img src="/logo/edualNav.jpg" width="30" height="30" alt="Logonavbar">
        </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon iconBurger"></span>
      </button>

    <div class="collapse navbar-collapse navbar-custom align-items-center" id="navbarSupportedContent">
          <ul class="navbar-nav nav-fill w-100 align-items-center">
            <li class="nav-item active titre_navbar">
              <a class=" yop nav-link" href="/profil">Mon profil<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class=" yep nav-link" href="/paris">Les paris</a>
            </li>
  
            <button class="bouton_deconnexion" type="button" class="btn"><a href="/profil"><img src="/logo-avatar/minet.png" class="img-fluid" alt="bouton_deconnexion"><span class="vertig">Brigitte</span></span></a>  
            </button>
            
          </ul>
    </div>
</nav>
</header>
