
<div class="container-fluid grad">
  <div class="row">
    <div class="col-12 text-center">
      <img class="lol" src="/logo-jeux/lol_trs.png">
    </div>
  </div>
  <div class="row">
    <button  class="col-5 royal team boutton_equipe" type="submit" id="match_opp1" onClick="reply_click(this.id)">
        <div id="opp1">equipe1</div>
      <img src="/avatar-jeu/perso1.png" class="img-fluid img-fluid3 perso" alt="">
     
    </button>
    <div class="col-2 team">VS</div>
    <button class="col-5 sunning team boutton_equipe" type="submit" id="match_opp2">
        <div id="opp2">equipe2</div>
      <img src="/avatar-jeu/perso2pile.png" class="img-fluid img-fluid3 perso" alt="">
    </button>
    <br>
    <br>
    <br>
    <div class="col-12 defie">
      <h2>Defie ton Ami(e)</h2>
    </div>
  <br>
    <div class="alone col-9 mx-auto">
      <img src="/img/saalor.png" class="img-fluid img-fluid4" alt="">
        <h3>Jean Michel</h3>
    </div>
    <button class="col-4 cercle boutton_equipe" type="submit">
      <img src="/logo-avatar/saalor.png" class="img-fluid" alt="">
        <h3>Jean Michel</h3>
    </button>
    <button class="col-4 cercle boutton_equipe" type="submit">
      <img src="/logo-avatar/batman.png" class="img-fluid" alt="">
        <h3>Valerie</h3>
    </button>
    <button class="col-4 cercle boutton_equipe" type="submit">
      <img src="/logo-avatar/trunk.png" class="img-fluid" alt="">
        <h3>Boris</h3>
    </button>
  </div>
  <div class="dropdown text-center">
    <button name="dropdownMenuButton" class="btn dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Cadeaux
    </button>
    <div id="listlots" name="gifts" class="dropdown-menu text-center" aria-labelledby="dropdownMenuButton">
      <li class="dropdown-item" id="gift1" href="#">Jacuzzi au Champagne</li>
      <li class="dropdown-item" id="gift2" href="#">Base jumping de la tour Eiffel</li>
      <li class="dropdown-item" id="gift3" href="#">Trip a Amsterdam</li>
      <li class="dropdown-item" id="gift4" href="#">One night stand</li>
    </div>
    <div id="result"></div>
  </br>
    <button type="button" class="btn btn-lg btn-inscription" data-toggle="modal" data-target="#boutton_inscription">Je lance mon pari</button>
    <div class="modal fade" id="boutton_inscription" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Pari Lancé !!! </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                        <img src="/logo-avatar/versus2.png" class="img-fluid img_versus grab" alt="img_versus">
                      </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary btn-connect btn-lg"><a href="/paris">Je valide mon pari</a></button>
                        </div>
                </div>
    
            </div>
        </div>
    <div class="row">
      <div class="col-12 cercle text-center">
        <img class="lol" src="/img/gift.png">
      </div>
    </div>
  </div>

