<div class="container nextGames">
    <div class="row">
        <div class="col logoDiv"><img class="img-fluid gameLogo" src="/logo-jeux/ow.png" alt="">
            <p class="flash">Selectionne ton match</p>
        </div>

    </div>

    <div class="matches">
        <div class="col-12 nextGamesPos timeGame" id="ow_match1_date">date match 1</div>
        <div class="row">
            <div class="col-5 nextGamesPos" id="ow_match1_opp1">opp1</div>
            <div class="col-2 nextGamesPos">VS</div>
            <div class="col-5 nextGamesPos " id="ow_match1_opp2">opp2</div>
        </div>
        <div class="col-12 text-center">
            <button type="button" class="btn btn-warning">Pari sur ce match</button>
        </div>
    </div>

    <div class="matches">
        <div class="col-12 nextGamesPos timeGame" id="ow_match2_date">date match 2</div>
        <div class="row">
            <div class="col-5 nextGamesPos" id="ow_match2_opp1">opp1</div>
            <div class="col-2 nextGamesPos">VS</div>
            <div class="col-5 nextGamesPos" id="ow_match2_opp2">opp2</div>
        </div>
        <div class="col-12 text-center">
            <button type="button" class="btn btn-warning">Pari sur ce match</button>
        </div>
    </div>

    <div class="matches">
        <div class="col-12 nextGamesPos timeGame" id="ow_match3_date">date match 3</div>
        <div class="row">
            <div class="col-5 nextGamesPos" id="ow_match3_opp1">opp1</div>
            <div class="col-2 nextGamesPos">VS</div>
            <div class="col-5 nextGamesPos" id="ow_match3_opp2">opp2</div>
        </div>
        <div class="col-12 text-center">
            <button type="button" class="btn btn-warning">Pari sur ce match</button>
        </div>
    </div>

    <div class="matches">
        <div class="col-12 nextGamesPos timeGame" id="ow_match4_date">date match 4</div>
        <div class="row">
            <div class="col-5 nextGamesPos" id="ow_match4_opp1">opp1</div>
            <div class="col-2 nextGamesPos">VS</div>
            <div class="col-5 nextGamesPos" id="ow_match4_opp2">opp2</div>
        </div>
        <div class="col-12 text-center">
            <button type="button" class="btn btn-warning">Pari sur ce match</button>
        </div>
    </div>

    <div class="matches">
        <div class="col-12 nextGamesPos timeGame" id="ow_match5_date">date match 5</div>
        <div class="row">
            <div class="col-5 nextGamesPos" id="ow_match5_opp1">opp1</div>
            <div class="col-2 nextGamesPos">VS</div>
            <div class="col-5 nextGamesPos" id="ow_match5_opp2">opp2</div>
        </div>
        <div class="col-12 text-center">
            <button type="button" class="btn btn-warning">Pari sur ce match</button>
        </div>
    </div>

</div>
