<div class="container nextGames">
    <div class="row">
        <div class="col logoDiv">
            <p class="flash">Selectionne ton match</p>
        </div>

        <div class="container">
            <ul class="nav nav-pills nav-fill" role="tablist">
                <li class="nav-item">
                    <a class="active" data-toggle="pill" href="#lol">
                        <img class="img-fluid gameLogo" src="/logo-jeux/lol.png" alt="logo League of Legends">
                    </a>
                </li>
                <li class="nav-item">
                    <a data-toggle="pill" href="#ow">
                        <img class="img-fluid gameLogo" src="/logo-jeux/ow.png" alt="logo Overwatch">
                    </a>
                </li>
                <li class="nav-item">
                    <a data-toggle="pill" href="#dota2">
                        <img class="img-fluid gameLogo" src="/logo-jeux/SM.png" alt="logo DOTA2">
                    </a>
                </li>
            </ul>



            <!-- contenus -->
            <div class="tab-content mx-auto">

                <!-- LOL -->

                <div id="lol" class="container tab-pane active">
                    <br>
                    <div class="matches" href="#">
                        <div class="row">
                            <div class="col-4 text-center">
                                <img class="img-fluid team-logo" src="https://storage.googleapis.com/ppanda/images/team/image/1565/universidad-catolica-esports-7s0d3roo.png">
                            </div>
                            <div class="col-4 nextGamesPos timeGame" id="lol_match1_date">pas de match disponible</div>
                            <div class="col-4 text-center">
                                <img class="img-fluid team-logo" src="https://storage.googleapis.com/ppanda/images/team/image/2727/coscu-army-akkbqfp.png">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-5 nextGamesPos" id="lol_match1_opp1">opp1</div>
                            <div class="col-2 nextGamesPos">VS</div>
                            <div class="col-5 nextGamesPos " id="lol_match1_opp2">opp2</div>
                        </div>
                        <div class="col-12 text-center">
                            <a id="lol_match1_link" class="btn btn-success" href="#">Parie sur ce match</a>
                        </div>

                    </div>
                    <div class="matches flashit2">
                        <div class="row">
                            <div class="col-4 text-center">
                                <img class="img-fluid team-logo" src="https://storage.googleapis.com/ppanda/images/team/image/21/gambit-gaming-eiwdgkpv.png">
                            </div>
                            <div class="col-4 nextGamesPos timeGame" id="lol_match2_date">pas de match disponible</div>
                            <div class="col-4 text-center">
                                <img class="img-fluid team-logo" src="https://storage.googleapis.com/ppanda/images/team/image/418/kaos-latin-gamers-bf1uzplu.png">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-5 nextGamesPos" id="lol_match2_opp1">opp1</div>
                            <div class="col-2 nextGamesPos">VS</div>
                            <div class="col-5 nextGamesPos" id="lol_match2_opp2">opp2</div>
                        </div>
                        <div class="col-12 text-center">
                            <a id="lol_match2_link" class="btn btn-success" href="#">Parie sur ce match</a>
                        </div>
                    </div>
                    <div class="matches flashit3">
                        <div class="row">
                            <div class="col-4 text-center">
                                <img class="img-fluid team-logo" src="https://storage.googleapis.com/ppanda/images/team/image/661/ascension-3gomh82x.png">
                            </div>
                            <div class="col-4 nextGamesPos timeGame" id="lol_match3_date">pas de match disponible</div>
                            <div class="col-4 text-center">
                                <img class="img-fluid team-logo" src="https://storage.googleapis.com/ppanda/images/team/image/419/300px-Lyon_Gaminglogo_square.png">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-5 nextGamesPos" id="lol_match3_opp1">opp1</div>
                            <div class="col-2 nextGamesPos">VS</div>
                            <div class="col-5 nextGamesPos" id="lol_match3_opp2">opp2</div>
                        </div>
                        <div class="col-12 text-center">
                            <a id="lol_match3_link" class="btn btn-success" href="#">Parie sur ce match</a>
                        </div>
                    </div>
                    <div class="matches flashit4">
                        <div class="row">
                            <div class="col-4 text-center">
                                <img class="img-fluid team-logo" src="https://storage.googleapis.com/ppanda/images/team/image/33/kabum-orange-40q3wwd1.png">
                            </div>
                            <div class="col-4 nextGamesPos timeGame" id="lol_match4_date">pas de match disponible</div>
                            <div class="col-4 text-center">
                                <img class="img-fluid team-logo" src="https://storage.googleapis.com/ppanda/images/team/image/180/dire-wolves-7ka5aby3.png">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-5 nextGamesPos" id="lol_match4_opp1">opp1</div>
                            <div class="col-2 nextGamesPos">VS</div>
                            <div class="col-5 nextGamesPos" id="lol_match4_opp2">opp2</div>
                        </div>
                        <div class="col-12 text-center">
                            <a id="lol_match4_link" class="btn btn-success" href="#">Parie sur ce match</a>
                        </div>

                    </div>
                    <div class="matches flashit5">
                        <div class="row">
                            <div class="col-4 text-center">
                                <img class="img-fluid team-logo" src="https://storage.googleapis.com/ppanda/images/team/image/1565/universidad-catolica-esports-7s0d3roo.png">
                            </div>
                            <div class="col-4 nextGamesPos timeGame" id="lol_match5_date">pas de match disponible</div>
                            <div class="col-4 text-center">
                                <img class="img-fluid team-logo" src="https://storage.googleapis.com/ppanda/images/team/image/2727/coscu-army-akkbqfp.png">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-5 nextGamesPos" id="lol_match5_opp1">opp1</div>
                            <div class="col-2 nextGamesPos">VS</div>
                            <div class="col-5 nextGamesPos" id="lol_match5_opp2">opp2</div>
                        </div>
                        <div class="col-12 text-center">
                            <a id="lol_match5_link" class="btn btn-success" href="#">Parie sur ce match</a>
                        </div>
                    </div>
                </div>

                <!-- OW -->

                <div id="ow" class="container tab-pane active">
                    <br>
                    <div class="matches" href="#">
                        <div class="row">
                            <div class="col-4 text-center">
                                <img class="img-fluid team-logo" src="https://storage.googleapis.com/ppanda/images/team/image/1548/JZHJUJ8QM1AP1508818097057.svg">
                            </div>
                            <div class="col-4 nextGamesPos timeGame" id="ow_match1_date">pas de match disponible</div>
                            <div class="col-4 text-center">
                                <img class="img-fluid team-logo" src="https://storage.googleapis.com/ppanda/images/team/image/180/dire-wolves-7ka5aby3.png">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-5 nextGamesPos" id="ow_match1_opp1">opp1</div>
                            <div class="col-2 nextGamesPos">VS</div>
                            <div class="col-5 nextGamesPos " id="ow_match1_opp2">opp2</div>
                        </div>
                        <div class="col-12 text-center">
                            <a id="ow_match1_link" class="btn btn-success" href="#">Parie sur ce match</a>
                        </div>

                    </div>
                    <div class="matches flashit2">
                        <div class="row">
                            <div class="col-4 text-center">
                                <img class="img-fluid team-logo" src="https://storage.googleapis.com/ppanda/images/team/image/419/300px-Lyon_Gaminglogo_square.png">
                            </div>
                            <div class="col-4 nextGamesPos timeGame" id="ow_match2_date">pas de match disponible</div>
                            <div class="col-4 text-center">
                                <img class="img-fluid team-logo" src="https://storage.googleapis.com/ppanda/images/team/image/33/kabum-orange-40q3wwd1.png">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-5 nextGamesPos" id="ow_match2_opp1">opp1</div>
                            <div class="col-2 nextGamesPos">VS</div>
                            <div class="col-5 nextGamesPos" id="ow_match2_opp2">opp2</div>
                        </div>
                        <div class="col-12 text-center">
                            <a id="ow_match2_link" class="btn btn-success" href="#">Parie sur ce match</a>
                        </div>
                    </div>
                    <div class="matches flashit3">
                        <div class="row">
                            <div class="col-4 text-center">
                                <img class="img-fluid team-logo" src="https://storage.googleapis.com/ppanda/images/team/image/661/ascension-3gomh82x.png">
                            </div>
                            <div class="col-4 nextGamesPos timeGame" id="ow_match3_date">pas de match disponible</div>
                            <div class="col-4 text-center">
                                <img class="img-fluid team-logo" src="https://storage.googleapis.com/ppanda/images/team/image/21/gambit-gaming-eiwdgkpv.png">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-5 nextGamesPos" id="ow_match3_opp1">opp1</div>
                            <div class="col-2 nextGamesPos">VS</div>
                            <div class="col-5 nextGamesPos" id="ow_match3_opp2">opp2</div>
                        </div>
                        <div class="col-12 text-center">
                            <a id="ow_match3_link" class="btn btn-success" href="#">Parie sur ce match</a>
                        </div>
                    </div>
                    <div class="matches flashit4">
                        <div class="row">
                            <div class="col-4 text-center">
                                <img class="img-fluid team-logo" src="https://storage.googleapis.com/ppanda/images/team/image/418/kaos-latin-gamers-bf1uzplu.png">
                            </div>
                            <div class="col-4 nextGamesPos timeGame" id="ow_match4_date">pas de match disponible</div>
                            <div class="col-4 text-center">
                                <img class="img-fluid team-logo" src="https://storage.googleapis.com/ppanda/images/team/image/180/dire-wolves-7ka5aby3.png">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-5 nextGamesPos" id="ow_match4_opp1">opp1</div>
                            <div class="col-2 nextGamesPos">VS</div>
                            <div class="col-5 nextGamesPos" id="ow_match4_opp2">opp2</div>
                        </div>
                        <div class="col-12 text-center">
                            <a id="ow_match4_link" class="btn btn-success" href="#">Parie sur ce match</a>
                        </div>

                    </div>
                    <div class="matches flashit5">
                        <div class="row">
                            <div class="col-4 text-center">
                                <img class="img-fluid team-logo" src="https://storage.googleapis.com/ppanda/images/team/image/661/ascension-3gomh82x.png">
                            </div>
                            <div class="col-4 nextGamesPos timeGame" id="ow_match5_date">pas de match disponible</div>
                            <div class="col-4 text-center">
                                <img class="img-fluid team-logo" src="https://storage.googleapis.com/ppanda/images/team/image/419/300px-Lyon_Gaminglogo_square.png">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-5 nextGamesPos" id="ow_match5_opp1">opp1</div>
                            <div class="col-2 nextGamesPos">VS</div>
                            <div class="col-5 nextGamesPos" id="ow_match5_opp2">opp2</div>
                        </div>
                        <div class="col-12 text-center">
                            <a id="ow_match5_link" class="btn btn-success" href="#">Parie sur ce match</a>
                        </div>
                    </div>
                </div>

                <!-- DOTA2 -->

                <div id="dota2" class="container tab-pane active">
                    <br>
                    <div class="matches" href="#">
                        <div class="row">
                            <div class="col-4 text-center">
                                <img class="img-fluid team-logo" src="">
                            </div>
                            <div class="col-4 nextGamesPos timeGame" id="dota2_match1_date">pas de match disponible</div>
                            <div class="col-4 text-center">
                                <img class="img-fluid team-logo" src="">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-5 nextGamesPos" id="dota2_match1_opp1">opp1</div>
                            <div class="col-2 nextGamesPos">VS</div>
                            <div class="col-5 nextGamesPos " id="dota2_match1_opp2">opp2</div>
                        </div>
                        <div class="col-12 text-center">
                            <a id="dota2_match1_link" class="btn btn-success" href="#">Parie sur ce match</a>
                        </div>

                    </div>
                    <div class="matches flashit2">
                        <div class="row">
                            <div class="col-4 text-center">
                                <img class="img-fluid team-logo" src="">
                            </div>
                            <div class="col-4 nextGamesPos timeGame" id="dota2_match2_date">pas de match disponible</div>
                            <div class="col-4 text-center">
                                <img class="img-fluid team-logo" src="">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-5 nextGamesPos" id="dota2_match2_opp1">opp1</div>
                            <div class="col-2 nextGamesPos">VS</div>
                            <div class="col-5 nextGamesPos" id="dota2_match2_opp2">opp2</div>
                        </div>
                        <div class="col-12 text-center">
                            <a id="dota2_match2_link" class="btn btn-success" href="#">Parie sur ce match</a>
                        </div>
                    </div>
                    <div class="matches flashit3">
                        <div class="row">
                            <div class="col-4 text-center">
                                <img class="img-fluid team-logo" src="">
                            </div>
                            <div class="col-4 nextGamesPos timeGame" id="dota2_match3_date">pas de match disponible</div>
                            <div class="col-4 text-center">
                                <img class="img-fluid team-logo" src="">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-5 nextGamesPos" id="dota2_match3_opp1">opp1</div>
                            <div class="col-2 nextGamesPos">VS</div>
                            <div class="col-5 nextGamesPos" id="dota2_match3_opp2">opp2</div>
                        </div>
                        <div class="col-12 text-center">
                            <a id="dota2_match3_link" class="btn btn-success" href="#">Parie sur ce match</a>
                        </div>
                    </div>
                    <div class="matches flashit4">
                        <div class="row">
                            <div class="col-4 text-center">
                                <img class="img-fluid team-logo" src="">
                            </div>
                            <div class="col-4 nextGamesPos timeGame" id="dota2_match4_date">pas de match disponible</div>
                            <div class="col-4 text-center">
                                <img class="img-fluid team-logo" src="">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-5 nextGamesPos" id="dota2_match4_opp1">opp1</div>
                            <div class="col-2 nextGamesPos">VS</div>
                            <div class="col-5 nextGamesPos" id="dota2_match4_opp2">opp2</div>
                        </div>
                        <div class="col-12 text-center">
                            <a id="dota2_match4_link" class="btn btn-success" href="#">Parie sur ce match</a>
                        </div>

                    </div>
                    <div class="matches flashit5">
                        <div class="row">
                            <div class="col-4 text-center">
                                <img class="img-fluid team-logo" src="">
                            </div>
                            <div class="col-4 nextGamesPos timeGame" id="dota2_match5_date">pas de match disponible</div>
                            <div class="col-4 text-center">
                                <img class="img-fluid team-logo" src="">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-5 nextGamesPos" id="dota2_match5_opp1">opp1</div>
                            <div class="col-2 nextGamesPos">VS</div>
                            <div class="col-5 nextGamesPos" id="dota2_match5_opp2">opp2</div>
                        </div>
                        <div class="col-12 text-center">
                            <a id="dota2_match5_link" class="btn btn-success" href="#">Parie sur ce match</a>
                        </div>
            </div>
        </div>
    </div>
</div>