
<div class="footer">
		<div class="col info_footer">
				<p> Site développé par l'équipe Keeps. <br> Au profit de la Wild Code School. </p>
		    <img src="/views/img/facebook.png" alt="facebook keeps" class="imgfooter">
		    <img src="/views/img/instagram.png" alt="facebook keeps" class="imgfooter">
	  </div>
</div>
