<!-- views/partials/header.ejs -->
<button class="hamburger">&#9776;</button>
<button class="cross">&#735;</button>

<nav class="navDesktop">
    <div class="containerNav">
      <div class = "col leftmenu">
      <ul class="titrenavhaut titreGauche">
        <li><a style="float:left;" href="/adminAccueil">Modifier Accueil</a></li>
        <li><a style="float:left;" href="/adminFaq">Modifier FAQ</a></li>
      </ul>
      </div>
      <div class = "col title">
          <p class="quizzTitre"><a class="QUIZLANDTITRE" href="/accueil">QUIZLAND</a></p>
      </div>
      <div class = "col rightmenu">
      <ul class="titrenavhaut titreDroite">
        <li class="textR" style="float:right;"><a href="/checkList">Validation QUIZ</a></li>
        <li class="textR" style="float:right;"><a href="/editList">Modification QUIZ</a></li>
      </ul>
    </div>
</nav>

<div class="menu navBurger">
  <ul>
    <li><a href="/adminAccueil">Modifier Accueil</a></li>
    <li><a href="/adminFaq">Modifier FAQ</a></li>
    <li><a href="/checkList">Validation Quiz</a></li>
    <li><a href="/editList">Modification Quiz</a></li>
    <li><a href="/accueil">Acceuil du site</a></li>
  </ul>
</div>
