<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body>

<header>
    <% include ../partials/header %>
    
    
</header>
<% include ../partials/script %>
<% include ../partials/jeu %>
<script src="/lotsSql.js"></script>
<script src="/game.js"></script>
<script src="/equipeselect.js"></script>
</body>
</html>
