<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body>

<header>
    <% include ../partials/header %>

    <script src="/paris.js"></script>
    

</header>
 
  <% include ../partials/carousel %>
    
  <% include ../partials/matches_lol %>



<footer>
    <% include ../partials/footer %>
</footer>
    <% include ../partials/script %>
</body>
</html>
