<!DOCTYPE html>
<html lang="en">
<% include ../partials/head.ejs %>
<% include ../partials/header.ejs %>

  <body>

    <div class="container containerPills">
      <ul class="nav nav-pills nav-fill" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" data-toggle="pill" href="#amis">AMIS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="pill" href="#parisencours">PARIS</a>
        </li>
      </ul>


      <div class="tab-content">
          <div id="amis" class="container tab-pane active"><br>
            <div class="container containerAvatar">
              <div class="row">
                <div class="col-12 text-center">
                  <img class="img-fluid fluid1" src="/logo-avatar/saalor.png" alt="imageAmi" />
                  <p class="pseudoAmisProfil">Jean Michel</p>
                </div>
                  <div class="col-12 text-center">
                  <button type="button" class="fluid1 btn btn-default btn-circle">+<i class="glyphicon glyphicon-ok"></i></button>
                  <p class="pseudoAmisProfil">Ajouter un ami </p>
                </div>
              </div>
            </div>

        </div>
        <div id="parisencours" class="container tab-pane fade"><br>
          <div class="container containerParis">
          <div class="row row-no-gutter">
            <div class="col-12 ml-auto textMatch">Fin du match le 5 Mai 2018</div>
          </div>
          <div class="row row-no-gutter">
            <div class="col-5 ml-auto "><img class="img-fluid fluid2" src="/logo-avatar/minet.png" alt="imageAmi" /></div>
            <div class="col-2 ml-auto vs">VS</div>
            <div class="col-5 ml-auto "><img class="img-fluid fluid2" src="/logo-avatar/saalor.png" alt="imageAmi" /></div>
          </div>
          <div class="row row-no-gutter">
            <div class="col-12 ml-auto "><img class="img-fluid LotProfil" src="/elements_carousel/gift.png" alt="image_responsive"><p class="textLot">Week end Amsterdam</p></div>
          </div>
        </div>
            <div class="container containerParis">
            <div class="row row-no-gutter">
            <div class="col-12 ml-auto textMatch">Fin du match le 30 Avril 2018 a 14h</div>
          </div>
            <div class="row row-no-gutter">
            <div class="col-5 ml-auto "><img class="img-fluid fluid2" src="/logo-avatar/saalor.png" alt="imageAmi" /></div>
            <div class="col-2 ml-auto  vs">VS</div>
            <div class="col-5 ml-auto "><img class="img-fluid fluid2" src="/logo-avatar/minet.png" alt="imageAmi" /></div>
          </div>
          <div class="row row-no-gutter">
            <div class="col-12 ml-auto "><img class="img-fluid LotProfil" src="/elements_carousel/gift.png" alt="image_responsive"><p class="textLot1">Une Raclette</p></div>
            </div>
          </div>

            <div class="container containerParis">
            <div class="row row-no-gutter">
            <div class="col-12 ml-auto  textMatch">Fin du match le 01 mai 2018</div>
          </div>
            <div class="row row-no-gutter">
            <div class="col-5 ml-auto "><img class="img-fluid fluid2" src="/logo-avatar/minet.png" alt="imageAmi" /></div>
            <div class="col-2 ml-auto  vs">VS</div>
            <div class="col-5 ml-auto "><img class="img-fluid fluid2" src="/logo-avatar/saalor.png" alt="imageAmi" /></div>
          </div>
            <div class="row row-no-gutter">
            <div class="col-12 ml-auto "><img class="img-fluid LotProfil" src="/elements_carousel/gift.png" alt="image_responsive"><p class="textLot2">Un petit Dejeuner</p></div>
            </div>
          </div>
          </div>
        </div>
          <!-- <div class="container-fluid paris">
            <div="row align-items-start">
            <div class="col-md-2 ml-auto col-4">
              </div>
              <div class="col-md-2 ml-auto col-4">
              </div>
              <div class="col-md-2 ml-auto col-4">
            </div>
              <div class="col-md-2 ml-auto col-4">

            </div>
          </div>
          </div>
        </div>
      </div>
        </div> -->

  <!-- <div class="row justify-content-start">
    <div class="col-4">

    </div>
    <div class="col-4">

    </div>
  </div>
    <div class="col-4">

    </div>
  </div>
    <div class="row justify-content-end">
    <div class="col-4">
      <img class="fluid2" src="/elements_carousel/gift.png" alt="image_responsive"><p class="textMatch">Une place de ciné</p>
    </div>
  </div> -->
      </div>
</div>


    <% include ../partials/script %>
  </body>

</html>
